

/* For top menu*/
#top-menu {
	position: relative;
	width: 100%;
    background-color: transparent;
	margin-bottom:20px;

}

#top-menu .divider-vertical {
    height: 30px;
	width: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}



/* For header*/
#header-container {
    background: linear-gradient(to right,#2e3192 20%,#0066b3 100%);
    top: 0;
	bottom: 0;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-brand {
    float: left;
    height: 120px; 
}

#header-container .navbar-header .navbar-brand > img {
    position: absolute;
    display: block;
    vertical-align: middle;
    left: 0;
    top: -30%;
	max-width: 200px;
    padding: 0 7px 7px 7px;
}



.navbar-nav li a {
    color: #FFFFFF;

}

.divider-vertical {
    height: 30px;
   
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-right: 1px solid #FFFFFF;
}

.widget_search {
    margin-top: 20px;
	text-align: right;
}

#secondary-header {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.widget_search label {
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
}





input, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    height: 40px;
	padding-left: 10px;
    border-radius: 5px;
    background-position: 320px 8px;
    background-repeat: no-repeat;
}



.caret {
    color: #999999;
}


/* For the slide show*/

#slideshow-container {
    height: 650px;
    position: relative;
	margin-bottom: 25px;

}

#myCarousel {
    height: 100%;
}

.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 650px;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	
}

.carousel-caption {
    text-align: left;
    bottom: 20%;
    left: 16%;
    width: 40%;
}

.carousel-caption h1 {
    color: white;
	font-weight: bold;
	font-size:68px;
}

.carousel-caption p {
    color: white;
	font-size:20px;
}


#myCarousel .carousel-indicators .active {
    background-color: white;
	
  
}
#myCarousel .carousel-indicators{
    bottom: 60px;
	
  
}


#main-menu {
    position: absolute;
    top: -3%;
    
    /* min-height: 60px; */
    width: 100%;
    
}
#main-menu ul{
	background: #1a1a1a;
    font-size: 16px;
    width: 100%;
}

#bottom-menu {
    position: absolute;
    /* margin-bottom: 25px; */
    background: rgba(0, 0, 0,0.5);
    min-height: 60px;
    width: 100%;
    bottom: 0;
}
#bottom-menu ul li a{
	

	width: 280px;
	text-align: center;
}


#bottom-menu ul li a:hover,
.nav .dropdown-menu li a:hover,
.nav > li > a:hover,
.nav > li > a:focus ,

.nav li.active a {
    background-color: transparent;
    color: #2e3192;
    font-weight: 600;
	text-decoration: underline;

}




#main-container {
	top: 25px;
	bottom: 0;
	width: 100%;
	position: relative;
}
.main-content {
	text-align: center;
	margin-bottom: 25px;
	
}



.degree-search input[type=text] {
	position: relative;
    width: 100%;
	height: 60px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 520px 20px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	
}

.search-form .search-submit:hover {
   background-color: #2e3192 ;
}
.search-form .search-submit {
    position: absolute;
    height: 40px;
    /* left: -4px; */
    top: 39px;
    right: 15px;
    /* float: right; */
    /* margin-bottom: 6px; */
    background-color: #0b111c;
    border: 1px solid white;
    /* color: white; */
    /* border-bottom-left-radius: 0; */
    /* border-top-left-radius: 0; */
}

.btn-primary {
    color: #fff;
    background-color: #1a1a1a;
    border-color: #2e6da4;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
	top: 0;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2e3192;
    border-color: #fffff;
}

label {
    display: inline-block;
    width: 100%;
    font-weight: bold;
}

.home_title {
    font-size: 32px;
    font-family: 'Signika', sans-serif;
    padding-bottom: 25px;
    margin-top: 25px;
	text-align: center;
	font-weight: bold;
}

.course_child {
    margin: 0 30px;
    width: auto;
    text-align: left;
    min-width: 200px;
	display: block;
	float: left;
	position: relative;
	font-size: 20px;
	margin-bottom:20px;
}

.container_services {
	margin-top: 25px;
}

.services_child {
    margin: 0 25px;
    width: auto;
    text-align: center;
    min-width: 330px;
	display: block;
	float: left;
	position: relative;
	font-size: 20px;
	margin-bottom:20px;
}

#campus-life {
	width: 100%;
	height:100%;
	position:relative;
	margin-bottom:25px;
	
}

#campus-life button {
    position: absolute;
    /* float: left; */
    bottom: 5%;
    right: 5%;
    height: 60px;
    color: #fff;
    background-color: #1a1a1a;
    /* border-color: #2e6da4; */
}

#campus-life button:hover {
    color: #fff;
    background-color: #2e3192;
    border-color: #fffff;
}

.feedback {
    width:100%;
}

.feedback  ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
	
}
.feedback li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
	background-color: #1a1a1a;
	padding: 50px;
}
.feedback img {
    display: inline-block;
    height: 100%;
    max-width: 100%;
    float: left;
}

.feedback p {
    color: white;
    text-align: center;
}

.button {
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
        /* width: 300px; */
    margin-top: 100px;
    border: 2px solid #798ed1;
    border-radius: 8px;
	background: #83a6de;
	background: -webkit-gradient(linear, left top, left bottom, from(#83a6de), to(#1244e8));
	background: -moz-linear-gradient(top, #83a6de, #1244e8);
	background: linear-gradient(to bottom, #83a6de, #1244e8);
	-webkit-box-shadow: #268eff 3px 0px 10px 0px;
	-moz-box-shadow: #268eff 3px 0px 10px 0px;
	box-shadow: #268eff 3px 0px 10px 0px;
	text-shadow: #0a257f 3px 1px 1px;
	font: normal normal bold 20px arial;
	color: #ffffff;
	text-decoration: none;
}
.button:hover,
.button:focus {
	  border: 2px solid #9db9ff;
	  background: #9dc7ff;
	  background: -webkit-gradient(linear, left top, left bottom, from(#9dc7ff), to(#1652ff));
	  background: -moz-linear-gradient(top, #9dc7ff, #1652ff);
	  background: linear-gradient(to bottom, #9dc7ff, #1652ff);
	  color: #ffffff;
	  text-decoration: none;
}
.button:active {
	  background: #4f6485;
	  background: -webkit-gradient(linear, left top, left bottom, from(#4f6485), to(#1244e8));
	  background: -moz-linear-gradient(top, #4f6485, #1244e8);
	  background: linear-gradient(to bottom, #4f6485, #1244e8);
}
.button:before{
	  content:  "\0000a0";
	  display: inline-block;
	  height: 24px;
	  width: 24px;
	  line-height: 24px;
	  margin: 0 4px -6px -4px;
	  position: relative;
	  top: 0px;
	  left: 0px;
	  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACjElEQVRIie1UTWsTURQ9dzKpofQLobQFlxqENF1JG0GE6sKuRLDtTKaBkJUIRdwpba2g9ge48gMEUUyTbrUutFmk1X6Q7kxDgi1YUSmlpsGYiTXtuy7GCYnaSRu3PczAfe/dd8695z0ecIAKsFVK0DQNLpcL8Xi8KgHZalFRNWe7uyMs2+RtkBQIjQerU/k3uVceHhmdyed/8NbWFg8OXrlXDY+020JdXf2NQMB/yuE4hHw+j5yur1df7h9QvQMXpiKRHSEECyF4cvJlQVG149VwlZ1BX58fsn1H7e29+OhMd7cEAMyM6PTMNAgfFUWrJSIAQgCAYAKIAECABACABGFt7fPPaDRqjItVqyrqG5vGAn7/kMfTBYMIyGQyeD0VMZKYweYGM2ZjpnR+eWVl8V08fnYiNP6t1Jbzc3PzbNryP38stsiKqp0uWuTz+eBqd9/s6uo02vpdPTOXxZuZDB7cfwgQGa0TIEmS7nA4PhhDkgBgdXV1FkTzRYHCtjjS4XZ3mGQmSsdEhKbGRqhqPwRz0ZOlRKImGBy/FA4F31gd8tG2tjaZmf+VUybS2tpaNpfeTMsADu+2xxRw2O12ENFftpTG6XQat26PQZIIzEA2m/1SKBSGGXhhWZmiaifezs7yfhGdnmFF1TqtuM0OksvvlzMnPZ4mq+RkMoVsNlu83ImlxDqATxUFwqHg94aGhsc9PeeuNjc372pRMpnExsZX5HI5xBZjd3aEuBsOBTcs7TGherXaa9eHIqlUioUQltYIIXhkZPT5XnjL7qXi1Wpkm6w5nccGWlpanLJNlkGQyEw1Pui6rs8tLFx+9vTJq30JlKK/3ycRCQkSFZ8Dcwszi4lwUOylgwNUxC8cBKAS7hIWzwAAAABJRU5ErkJggg==") no-repeat left center transparent;
	  background-size: 100% 100%;
}


